@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Comfortaa:wght@500;600&family=Kameron:wght@400;700&family=Pacifico&display=swap");

:root {
  font-size: 0.785rem;
}
body {
  font-family: "Antic Slab", serif;
  height: 100vh;
  padding-top: 11.5rem;
}

h5 {
  font-family: "Pacifico", cursive;
}

.logo {
  font-size: 1.9rem;
  color: #ffc107;
}

.fa-bag-shopping {
  color: #222;
  transform: rotate(25deg);
}

.fa-basket-shopping {
  color: #fefefe;
  opacity: 1;
  transition: all 0.2 ease;
}